@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    font-family: 'Kanit', sans-serif;

}
html {
    scroll-behavior:smooth ;
}
body {
   
    scroll-behavior: smooth;

}
.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 12px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}   
.top:hover {
      text-decoration: none;
      background: rgba(0,0,0,.5);
    }
 

a{
    text-decoration: none;
}
ul li {
    list-style: none;
}
p, h1, h4 {
    color: #1b1e20;
}
h2 {
    color: #202020;
    text-transform: uppercase;
}


/* header */
#header {
    position: fixed;
 z-index: 1000;
    top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
    width: 100%;
    height: 20%;
    background-color: #fecdaaa8;
    padding: 0 10px;
}
#header .nav-list ul{
    position: absolute;
    background: linear-gradient(rgba(254, 205, 170, 0.937), rgba(65, 39, 34, 0.947));
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
   transition: .5s ease left;
}
#header .nav-list ul.active {
    left: 0;
}
#header .nav-list ul a {
    font-size: 1.7rem;
    padding: 10px;
    color: #140c0ce3;
    display: block;
transition: .3s ease;
font-weight: 600;
text-transform: uppercase;

}
#header .nav-list ul li {
    transition: .5s ease;
}

.nav-list ul, li:hover ,a{
    color: #57261cbb;
}
#header .hamburger {
    z-index: 100;
    position: relative;
    border-radius: 50%;
    border: 2px solid #1b1e20;  
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
cursor: pointer;
margin-right: 10px;
}
#header .hamburger::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border: 2px solid #fde0cb;
border-radius: 50%;
animation: hamburger_signal 2s ease infinite;
}
#header .hamburger .bar {
    position: relative;
height: 3px;
width: 30px;
background-color: #1b1e20;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #1b1e20;
transition: .3s ease;
transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::after,
#header .hamburger.active .bar::before {
    bottom: 0;
    top: 0;
}

@keyframes hamburger_signal {
    0% {
      opacity: 1;
      transform: scale(1);  
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* main */
#video {
    width: 100%;
    height:100vh;
    object-fit: cover;
  position: absolute;  
  }
.container .salut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
   position:relative;
   top: 25vh; 
}

.container .salut button {
    padding: 10px ;
    margin-top: 13px;
    font-size: 1.2rem;
    background: transparent;
    border: 0;
    transition: .3s ease; 
    animation: click 1.2s ease forwards;
    animation-delay: 4s;
    position: relative;
}
.container .salut button a {
    color: transparent;
    animation: contact 1.2s ease forwards;
    animation-delay: 4.5s;
    display: block;
    position: relative;
}
.container .salut button:hover {
    background-color: #fde0cb;
    border-radius: 20%;
    animation: hover 1.2s ease forwards;
}
.container .salut p {
    display: block;
  padding: 10px;
    position: relative;
    animation: text_reveal 2s ease forwards;
    animation-delay: 1.5s;
    color: transparent;
    text-align: center;
    font-weight: 600;
}

.container .salut p:nth-child(1) {
    animation-delay: 1.5s;
    font-size: 1.2rem;
}
.container .salut p:nth-child(2) {
   
    font-size: 2.5rem;
    color: transparent;
    animation: name 2s ease forwards;
    animation-delay: 2.5s;
   
}
.container .salut p:nth-child(3) {
    animation-delay: 3.5s;
    font-size: 1.2rem;
}
.salut p span {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background-color: #412722;
animation: text_reveal_box 1.2s ease;
}
.salut p:nth-child(1) span {
    animation-delay: 1s;
}
.salut p:nth-child(2) span {
    animation-delay:2s;
}
.salut p:nth-child(3) span {
    animation-delay: 3s;
}



@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    50% {
        color:  #1b1e20;
    }
    100% {
        color: #1b1e20;
    }
}
@keyframes click {
   
    100% {
      border:1px solid #271410;
      background-color: #fecdaa;
    }
   
    
}
@keyframes contact {
    100% {
        color: #271410;
    }
}



@keyframes hover {
    100%{
        background-color: #fde0cb; 
       
    }
}
 @keyframes name {
    100% {
        color: #642f23;
    }
 }




 /* services */
 #services {
    position: relative;
    top: 75vh;
margin: 0 30px;
   cursor: progress;
    
 }
 
 #services h2{
text-align: center;
font-weight: 200;
font-size: 2rem;
margin-top: 30px;
 }
#services .service {
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    gap: 30px;
   margin-top: 50px; 
}
.service .web-dev {
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
   gap: 5px;  
    color: #1b1e20;
     box-shadow: 10px 15px 40px  2px  rgb(167, 166, 167); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #f3e5dc80; 
  transition: .5s;
}

/* portfolio */
#portfolio {
    position: relative;
    top: 15vh;
    margin: 0 30px;
    cursor: progress;
  
}
#portfolio h2 {
    text-align: center;
font-weight: 200;
font-size: 2rem;
}

#portfolio .work {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
margin-top: 50px;
gap: 20px;

}

.work .web-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fde0cb8f;
    gap: 15px;
    width: 300px;
    box-shadow: 0 0 2rem rgb(0, 0, 0, 0.37);
}

.work .web-dev h3 {
    color: #271410;
    text-transform: uppercase;
}

.work .web-dev .view-project >*{
    color: #642f23;
    margin: 20px 0px;
    font-size: 1.2rem;
    transition: .2s ease;
    
}

.work .web-dev .view-project:hover span {
  color: #725048;
}
.work .web-dev .view-project:hover a{
    color: #725048;
  }
  /* about */
  #about {
    position: relative;
    margin: 0 30px;
    cursor: pointer;
    transition: .3s ease;
    top: 40vh;
    cursor: progress;
  }

  #about h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    margin-top: 50px;
  }

  #about .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
color: #1b1e20;
gap: 15px;

  }

  #about .about-me h1 {
    border-bottom: 1.8px solid #412722;
    width: fit-content;
    padding-bottom: 7px;
    color: #53342d;
    
  }
 #caption span {
    color: #575555;
    font-size: small;
   
  }
  #caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }




  /* contact */
  #contact {
    position: relative;
    margin: 0 30px;
    transition: .3s ease;
    top: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#contact h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    margin-top: 50px;
  }

 #contact .send-email {
  padding: 40px;
  width: 350px;
  transform: translate(-50%, -50%);
  background-color: #271410;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  top: 30vh;
  left: 50%;
 }
.send-email .user-box {
    position: relative;
}


 .send-email .user-box input {
width: 100%;
padding: 0 10px;
font-size: 1.1rem;
color: #fde0cb;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid  #fde0cb;
outline: none;
background: transparent;

 }
.send-email .user-box label {
position: absolute;
top: -10px;
left: 0%;
padding: 10px 0;
font-size: 1.1rem;
color: #fde0cb;
pointer-events: none;
transition: .5s ease;
}

.send-email .user-box input:focus ~label,
.send-email .user-box input:valid ~label
 {
    top: -40px;
    color: #fecdaa;
    font-size: 0.9rem;
    
}

#contact .send-email .button {
    display: inline-block;
    padding: 10px 20px;
    color: #fde0cb;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 20px;
    transition: .5s;
    letter-spacing: 4px;
   position: relative;
   
}
.send-email .button:hover{
    background: #fde0cb;
   
    border-radius: 5px;
    position: relative;
}
.send-email .button:hover {
   color: #271410;
}

.send-email .button span {
    position: absolute;
    display: block;
}
.send-email .button span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fecdaa);
    animation: btn_anime 1.5s linear infinite;
} 


@keyframes btn_anime {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}



.send-email .button span:nth-child(2)
{
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fecdaa);
    animation: btn_anime2 1.5s linear infinite;
} 

@keyframes btn_anime2 {
    0% {
       top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.send-email .button span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fecdaa);
    animation: btn_anime3 1.5s linear infinite;
} 

.send-email .button span:nth-child(4)
{
    left: 0;
    bottom: -100%;
    width:2px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fecdaa);
    animation: btn_anime4 1.5s linear infinite;
} 

@keyframes btn_anime4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
@keyframes btn_anime3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}
/* end  */




  /* contact info */
  #contact .contact02 {
   top: 15vh;
   position: relative;
   cursor: progress;
  }
 #contact .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
   margin-top: 50px;
  
 }
#contact .info .know{
    display: flex;
  width: 100%;
  flex-direction: column;
align-items: center;

padding: 10px;
box-shadow: 0px 0px 0px  2px  rgba(194, 185, 175, 0.412);
border-radius: 5%;
gap: 10px;
}  
    

.contact02 .know img {
    width:38px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 10px 12px 50px 7px rgb(167, 166, 167);
}

#contact .contact02 .know:nth-child(1) img{
    background-color: rgb(34, 167, 22);
}

#contact .contact02 .know:nth-child(2) img{
    background: linear-gradient(rgb(187, 0, 27), rgb(234, 67, 53));
}

#contact .contact02 .know:nth-child(3) img{
    background-color: rgb(17, 57, 190);
}




/* footer */
/* #footer {
    position: relative;
    top: 80vh;
    width: 95vw;
    height:18vh;
    background-color: #53342d;
    margin: 0px;
} */

 #footer {
    position: relative;
   top: 80vh;
  bottom: 0;
    background-color: #fecdaa;
   margin-left: 0 ;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}


#footer .h1 {
    color: #412722;
   margin: 0;
}

#footer .social-media {
    font-size: 1.5rem;
margin-top: 10px;

}

#footer .social-media i {
    color: #412722;
    padding: 4px;
   
    border-radius: 10%;
    background-color: #000000;
   transition: 1s ease;
   margin-right: 10px;
}
#footer .social-media i:nth-child(2) {
    background: linear-gradient(rgb(244, 111, 48),rgb(195, 42, 163), rgb(255, 220, 125) );
    color: aliceblue;
  
}


#footer .social-media i:nth-child(1){
    background: linear-gradient(rgb(24, 119, 242), rgb(59, 89, 152));
    color: aliceblue;
}

#footer .social-media i:nth-child(3){
    background: aliceblue;
    color: rgb(29, 161, 242);
}

#footer .social-media i:nth-child(4){
    background:rgb(10, 102, 194);
    color: aliceblue;
}

#footer .social-media i:hover {
    transform: translateY(-7px) rotateX(30deg);
    color: #412722;
    background: #000000;


}
/* responsive */

@media (min-width:845px){
/* header */

#header .hamburger {
    display: none;
}

#header {
    position: fixed;
 width: 100vw;
    top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
    background-color: #fecdaa98;
    
}

#header .nav-list ul{
    position: relative;
    background: transparent;
   left: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
   transition: .5s ease left;

}
#header .nav-list ul, li, a {
    font-size: 1.3rem;
  padding: 7px;
 text-transform: uppercase;
 }

/* main */
    #main .salut h1{
        font-size: 3.5rem;
    }
    #main .salut button {
        padding: 10px;
        font-size: 2rem;
    }




/* services */
 #services h2 {
        font-size: 3.5rem;

    }
    #services .service {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-shrink: 45%;
    }

    /* portfolio  */
    #portfolio h2 {
        font-size: 3.5rem;
    }
    #portfolio .work {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       gap: 40px;
    }
#portfolio .web-dev:nth-child(2) img{
height: 310px;
}

    #portfolio .web-dev {
        width: 400px;
        height: 100%;
        
    }

    /* about */


    #about h2 {
        font-size: 3.5rem;
    }
    #about .about-me {display: grid;
    grid-template-columns: 1fr  1fr 1.5fr 0.2fr;  
    gap: 20px;
align-items: center;
    }
    #about .about-me img {
     grid-column: 2;
    }
    .about-me #caption {
        grid-column: 3 / 4.7;
    }

    /* contact */
#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    top:60vh;
    
}
#contact h2 {
    font-size: 3.5rem;
}   


#contact .contact02 {
    top: -3.5vh;
}
#contact .contact02 h2 {
    margin-top: 50px;
}

#contact .contact02 .info .know {
gap: 5px;
display: flex;
flex-direction: row;
align-items: center;


}
}